* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
}

:root {
  --search-background-color: #f2f4f7;
  --link-color: black;
  --hero-banner-color-text: white;
  --section-h3-color: #b0b0b0;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  color: var(--link-color);
}

button,
a,
.dropdown-label {
  cursor: pointer;
}

#header-container {
  max-width: 1900px;
  margin: 0 auto 1rem auto;
  padding: 2vw;
  display: grid;
  grid-template-columns: 5% 35% auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'menu logo links'
    'search search search';
}

#header-menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(0.6rem, 0.8rem, 1rem);
}

#header-menu img {
  min-width: 24px;
  max-width: 32px;
}

#header-menu:hover span {
  color: red;
}

.header-link:hover span {
  color: red;
}

.header-link-desktop:hover span {
  color: red;
}

button {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

#header-logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

#logo {
  width: 100%;
  margin: 0 0.5rem;
}

#logo > img {
  min-width: 110px;
  max-width: 160px;
}

#header-search {
  grid-area: search;
}

#header-form {
  width: 100%;
  display: grid;
  grid-template-columns: 2rem auto;
  gap: 0.3rem;
  margin-top: 0.5rem;
  padding: 0.3rem;
  background-color: var(--search-background-color);
}

#header-form > button > img {
  width: 1.5rem;
}

#header-form > input {
  width: 100%;
  font-size: clamp(1rem, 1rem, 2rem);
  border: none;
  background-color: var(--search-background-color);
}

#header-links {
  font-size: clamp(0.6rem, 0.8rem, 1rem);
  grid-area: links;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
}

#header-links img {
  width: 1.5rem;
}

.header-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-link-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.span-desktop {
  display: none;
}

#nav-container {
  width: 100%;
  max-width: 1900px;
  margin: auto;
}

#nav-bar {
  width: 100%;
  background-color: var(--search-background-color);
}

#nav-bar img {
  max-width: 15px;
}

#nav-list {
  display: grid;
  grid-template-columns: repeat(12, auto);
  gap: 10px;
  padding: 1rem;
  overflow-x: auto;
  font-size: clamp(0.6rem, 0.8rem, 1rem);
  background-color: var(--search-background-color);
}

#nav-list > li {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

#nav-list li:hover .anchor-list {
  text-decoration: underline;
}

#nav-list li:hover .anchor-list-dropdown {
  text-decoration: underline;
}

.dropdown-content,
.dropdown input,
.dropdown img {
  display: none;
}

#nav-list-2 {
  display: none;
  font-size: clamp(0.6rem, 0.8rem, 1rem);
}

#nav-list-2 span:hover {
  color: red;
}

#hero {
  width: 100%;
}

#anchor-banner:hover #promo-text {
  text-decoration: underline;
}

#hero-promo {
  position: relative;
  width: 100%;
}

#promo-banner {
  width: 100%;
  height: 50px;
}

#promo-banner > picture > img {
  width: 100%;
  min-height: 50px;
  max-height: 55px;
  object-fit: fill;
}

#promo-text {
  position: absolute;
  width: 100%;
  min-height: 50px;
  max-height: 55px;
  top: 0;
  left: 0;
  color: var(--hero-banner-color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-images {
  width: 100vw;
  max-height: 600px;
  overflow: hidden;
}

#hero-images > ul {
  width: 400vw;
  height: 100%;
  display: flex;
  animation: slide 20s infinite ease-in-out;
}

#hero-images > ul > li > a {
  width: 100%;
  height: 100%;
}

#hero-images > ul > li > a > picture > img {
  width: 100%;
  height: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
  100% {
    margin-left: 0%;
  }
}

#shop {
  max-width: 1500px;
  margin: 2rem auto;
  padding-top: 3rem;
  background-color: var(--search-background-color);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.shop-banner {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
}

.shop-anchor-banner > picture > img {
  width: 100%;
  border-radius: 15px;
}

.shop-title {
  width: 100%;
  min-height: 90px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.shop-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shop-text > h2 {
  font-size: clamp(1rem, 2.5rem, 3rem);
  color: black;
}

#shop-text-2 {
  font-size: (1rem, 2.5rem, 3rem);
  color: var(--section-h3-color);
}

.anchor-shop-all {
  width: 20%;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
  padding: 0.7rem 0.9rem;
  font-weight: bold;
  background-color: black;
  text-align: center;
  border-radius: 5px;
  align-self: center;
}

.anchor-shop-all > a {
  color: white;
  font-size: 0.8rem;
}

#shop-container {
  padding-bottom: 2rem;
  height: 100%;
}

.shop-list {
  max-width: 1800px;
  height: 400px;
  overflow: auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0.5rem 1rem;
  gap: 20px;
}

.shop-list li {
  width: 200px;
  height: 350px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 15px 25px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

.shop-list li:hover {
  transform: scale(1.05);
}

.shop-list > li > a {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: clamp(0.8rem, 0.8rem, 2rem);
}

.price {
  margin-top: 1rem;
  font-weight: bold;
}

.exclusive-price {
  font-weight: bold;
  color: transparent;
  background: rgb(109, 0, 173);
  background: linear-gradient(90deg, rgba(109, 0, 173, 1) 33%, rgba(255, 0, 200, 1) 90%);
  background-clip: text;
}

.shop-image {
  margin: 0.5rem 0;
}

#pre-owned-container {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pre-owned-deal > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pre-owned-deal {
  transition: transform 0.5s;
}

.pre-owned-deal:hover {
  transform: scale(1.01);
}

.pre-owned-deal-text {
  width: 100%;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
}

.pre-owned-deal-text > h3 {
  font-size: clamp(0.5vw, 1rem, 2rem);
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  margin-bottom: 0.5rem;
}

.pre-owned-deal-text > span {
  font-size: clamp(1vw, 1rem, 2rem);
  font-weight: bold;
}

.pre-owned-deal-image {
  width: 100%;
  margin-bottom: 0.7rem;
}

.pre-owned-deal-image img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#shop-now-container {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-now > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.shop-now:hover {
  transform: scale(1.01);
}

.shop-now {
  transition: transform 0.5s;
}

.shop-now-text {
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
}

.shop-now-text > h3 {
  font-size: clamp(0.5vw, 1rem, 2rem);
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  margin-bottom: 0.5rem;
}

.shop-now-text > span {
  font-size: clamp(1vw, 1rem, 2rem);
  font-weight: bold;
}

.shop-now-image {
  margin-bottom: 0.7rem;
}

.shop-now-image img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#brands > h2 {
  width: 45vw;
}

#brands > h2 > span {
  color: var(--section-h3-color);
}

#brands {
  padding: 3rem 1.7rem 4rem 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: var(--search-background-color);
}

#brands > h2 {
  min-width: 300px;
  max-width: 1500px;
  margin: auto;
  font-size: clamp(1rem, 2.5rem, 3rem);
}

.brands-container {
  min-width: 300px;
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
}

.brand-logo {
  width: 100%;
  border: 1px solid var(--section-h3-color);
  border-radius: 15px;
  padding: 1rem;
  background-color: white;
}

.brand-logo:hover {
  border: 1.5px solid black;
}

.brand-logo > img {
  width: 100%;
  height: 100%;
}

#terms {
  max-width: 1300px;
  margin: 2rem auto;
  padding: 0 2rem;
}

#terms > article > p {
  font-size: clamp(0.6rem, 0.8rem, 0.8rem);
  margin-bottom: 1rem;
  text-align: justify;
}

#footer-container {
  max-width: 1800px;
  margin: auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    'footer-sign-up'
    'links'
    'connect'
    'footer-amplience';
}

.app-download > a > img {
  width: 100%;
}

#links {
  grid-area: links;
  max-width: 576px;
  display: flex;
  flex-direction: column;
}
.list-links {
  border-bottom: solid 1px var(--section-h3-color);
}
.list-links > ul {
  max-width: 186px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.list-links > h3,
h4 {
  margin: 1rem 0 0.5rem 0;
}

.list-links > ul > li:hover a {
  text-decoration: underline;
}

#footer-sign-up {
  grid-area: footer-sign-up;
  max-width: 576px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top: solid 1px var(--section-h3-color);
  border-bottom: solid 1px var(--section-h3-color);
}

#footer-sign-up > h3 {
  font-size: clamp(1rem, 1.2rem, 2rem);
  margin: 1.5rem 0 0.5rem 0;
}

#footer-sign-up > p {
  font-size: clamp(0.6rem, 0.8rem, 1rem);
}

#footer-sign-up > form {
  display: flex;
  margin-bottom: 1rem;
}

#footer-sign-up > form > input {
  width: 70%;
  padding: 0.8rem 0.5rem;
  border: none;
  background-color: var(--search-background-color);
}

#footer-sign-up > form > button {
  width: 30%;
  padding: 0.8rem 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: rgb(255, 12, 12);
}

#footer-sign-up > form > button:hover {
  color: black;
}

#connect {
  grid-area: connect;
  max-width: 350px;
  margin-bottom: 1rem;
}

.app-download {
  width: 80%;
  display: flex;
  gap: 0.5rem;
}

#footer-amplience {
  max-width: 1800px;
  margin: auto;
  grid-area: footer-amplience;
  padding: 0 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: clamp(0.6rem, 0.8rem, 1rem);
}

#footer-amplience > p {
  order: 2;
}

#footer-amplience > ul {
  order: 1;
  display: flex;
}

#footer-amplience > ul > .amplience-list::after {
  content: '|';
  margin: 0 0.5rem;
}

#footer-amplience > ul > li > a:hover {
  color: red;
  text-decoration: underline;
}

/* ///////////////////////////////////////////////////////////////////////// */

@media (min-width: 576px) {
  #pre-owned-container,
  #shop-now-container {
    flex-direction: row;
  }

  #links {
    flex-direction: row;
    gap: 1rem;
    border-bottom: solid 1px var(--section-h3-color);
  }

  .list-links {
    border-bottom: none;
  }
}
/* ///////////////////////////////////////////////////////////////////////// */

@media (min-width: 768px) {
  #header-container {
    padding: 1vw 0.5vw 0.5vw 0.5vw;
    grid-template-columns: 5% 20% auto 25%;
    grid-template-rows: 1fr;
    grid-template-areas: 'menu logo search links';
    margin-bottom: 0;
  }

  #header-form {
    margin-top: 0rem;
  }

  #header-links {
    margin-top: 0.3rem;
    margin-left: 1rem;
  }

  #header-logo,
  #header-menu {
    margin-top: 0.5rem;
  }

  .pre-owned-deal-text > h3 {
    width: 100%;
  }

  .shop-now-text > h3 {
    width: 100%;
  }

  .brands-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 270px));
  }

  #footer-amplience {
    flex-direction: row;
    justify-content: space-between;
  }

  #footer-amplience > p {
    order: 1;
  }

  #footer-amplience > ul {
    order: 2;
  }
}
/* ///////////////////////////////////////////////////////////////////////// */

@media (min-width: 1280px) {
  #header-container {
    grid-template-columns: 2% 12% auto 20%;
  }

  .header-link-desktop {
    display: flex;
  }

  .span-desktop {
    display: block;
  }

  #header-menu {
    margin-top: 0;
    text-align: center;
  }

  #header-links {
    margin-top: 0.3rem;
    margin-left: 2rem;
  }

  #nav-container {
    display: grid;
    grid-template-columns: auto 350px;
  }

  #nav-list-2 {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    background-color: var(--search-background-color);
  }

  #nav-list-2 > a {
    display: flex;
    align-items: center;
  }

  #nav-list-2 > a > img {
    width: 15px;
  }

  .shop-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  #footer-container {
    padding-top: 1.5rem;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas:
      'links footer-sign-up'
      'links connect'
      'footer-amplience footer-amplience';
  }

  #footer-sign-up {
    border: none;
  }

  #links {
    border: none;
    max-width: 1000px;
    gap: 10rem;
  }

  .list-links > ul {
    max-width: 300px;
  }

  #footer-container {
    border-top: solid 1px var(--section-h3-color);
  }

  #footer-amplience {
    justify-content: start;
    gap: 150px;
  }
}

@media (min-width: 1800px) {
  #nav-list li:hover .anchor-list {
    text-decoration: underline;
  }

  #nav-list li:hover .anchor-list-dropdown {
    text-decoration: none;
  }

  .dropdown-content li:hover .anchor-dropdown {
    text-decoration: underline;
  }

  .dropdown-content li {
    cursor: pointer;
  }

  .dropdown img,
  .dropdown input {
    display: block;
  }

  .anchor-list-dropdown {
    pointer-events: none;
  }

  #trading-cards-checkbox,
  #collectibles-checkbox,
  #playstation-checkbox,
  #nintendo-checkbox,
  #xbox-checkbox {
    opacity: 0;
    cursor: pointer;
  }

  .dropdown-content {
    position: absolute;
    top: 128px;
    background-color: #f2f4f7;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 10px 10px 10px 20px;
  }

  .dropdown-content > li {
    margin-bottom: 1rem;
  }

  #trading-cards-checkbox:checked ~ .dropdown-content {
    display: block;
  }

  #collectibles-checkbox:checked ~ .dropdown-content {
    display: block;
  }

  #playstation-checkbox:checked ~ .dropdown-content {
    display: block;
  }

  #nintendo-checkbox:checked ~ .dropdown-content {
    display: block;
  }

  #xbox-checkbox:checked ~ .dropdown-content {
    display: block;
  }
}
