* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: fixed;
}

header img {
  width: 1.5rem;
  height: 1.5rem;
}

body {
  min-height: 100vh;
}

main {
  position: relative;
  top: 170px;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header-container {
  max-width: 1800px;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: auto;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.header-container .span-header-nav-options-desktop {
  display: none;
}

#header-nav-logo {
  width: 8rem;
  height: 2.1rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

#header-nav-logo > img {
  width: 7.4rem;
  height: 1.7rem;
}

#header-nav-options {
  width: 11.6rem;
  padding: 0 0.1rem 0 0.8rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-nav-gamestop-pro {
  display: none;
}

#header-nav-trade,
#header-nav-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-option,
.submit {
  background: none;
  border: none;
}

.submit {
  padding-left: 0.8rem;
}

#header-form {
  width: 100%;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
}

#header-form > form {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  background-color: #f2f4f7;
}

#header-form > form > input {
  width: 100%;
  height: 2.5rem;
  border: none;
  background-color: #f2f4f7;
}

#header-form > form > button {
  margin-right: 0.6rem;
}

#header-nav-list {
  width: 100vw;
  height: 3rem;
  overflow-x: auto;
  white-space: nowrap;
  background-color: #f2f4f7;
}

#header-nav-list-2 {
  display: none;
}

#header-nav-list > ul {
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

#header-nav-list > ul > li > a {
  display: flex;
  align-items: center;
}

#header-nav-list > ul > li {
  margin-right: 1.2rem;
}

.dropdown {
  display: none;
}

picture {
  height: 3rem;
  display: block;
  position: relative;
}

picture img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#hero-top-text-container {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Ajuste preciso */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

@media (min-width: 768px) {
  main {
    top: 118px;
  }

  .header-container {
    flex-wrap: nowrap;
  }

  #header-form {
    width: 100%;
    padding: 0rem 0.25rem 0.25rem 0.25rem;
  }

  .submit img {
    width: 1.2rem;
  }

  #header-nav-menu-option {
    order: 0;
    align-self: flex-end;
  }

  #header-nav-logo {
    order: 1;
    align-self: flex-end;
  }

  #header-form {
    order: 2;
    width: 60%;
  }

  #header-nav-options {
    order: 3;
    gap: 10px;
    align-self: flex-end;
  }
}

@media (min-width: 1024px) {
  main {
    top: 130px;
  }

  .header-container {
    padding: 1.1rem 1.6rem 1.1rem 1.6rem;
    margin-bottom: 0rem;
  }

  #header-nav-logo {
    width: 13.5rem;
    height: 2.4rem;
    padding: 0 1.5rem;
  }

  #header-nav-logo > img {
    width: 11rem;
    height: 2.4rem;
  }

  .submit img {
    width: 1.2rem;
  }

  #header-nav-container {
    background-color: #f2f4f7;
  }

  #header-nav-list-container {
    width: 100%;
    display: flex;
    height: 3rem;
    white-space: nowrap;
    background-color: #f2f4f7;
    max-width: 1800px;
    margin: auto;
  }

  #header-nav-list {
    width: 75%;
  }

  #header-nav-list-2 {
    width: 27%;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 10;
  }

  #header-nav-list-2 > a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  .header-container .span-header-nav-options-desktop {
    display: block;
  }

  #header-nav-gamestop-pro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #header-nav-menu-option {
    display: flex;
    flex-direction: column;
  }

  #header-nav-options {
    width: 22rem;
    justify-content: space-between;
  }
}
